WEEK 1
Passcodes: Walrus and Weasel
Participation: Completed the extra credit, showed up to both classes.
Progrees on Self Learning: I was able to get 57% of the code academy done.
Update of Progress: I have got my hero image done, my footer and my navigation bar for my personal project.